.background-img {
  right: 10%;
}
#featured-movie {
  width: 100%;
  .movie {
    height: 55%;
    .movie-title {
      font-size: 3.3rem;
      margin-top: 1rem;
    }
    .sub-title {
      padding-bottom: 1.5rem;
    }
    .buttons {
      width: 40%;
    }
  }
  .about-movie {
    height: 45%;
    width: 90%;
  }
}
.container {
  #movie {
    padding: 3rem;
  }
}
#my-List {
  padding-bottom: 2rem;
}
#related {
  display: none;
}
.box {
  height: auto;
  &-contact {
    margin: 2.5rem auto;
  }
}

@media (max-height: 420px) {
  .background-img {
    width: 35%;
    right: 20%;
    top: 35%;
  }
  .container-long #featured-movie {
    width: 100%;
    .movie {
      height: 55%;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 3rem;
      margin-top: 1rem;
      .movie-title {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
      .sub-title {
        font-size: 0.7rem;
        padding-bottom: 1rem;
      }
      .buttons {
        height: 20%;
        width: 80%;
        margin-top: 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 55%;
        a.btn-white,
        a.btn-accent {
          padding: 1rem 0.5rem;
          width: 40%;
          margin: 0;
        }
      }
    }
    .about-movie {
      height: auto;
      width: 90%;
      box-sizing: border-box;
    }
  }
  .box-contact {
    height: 750px;
    // display: none;
  }
  .box {
    margin: 10vh auto;
  }
  .plot-card {
    padding: 1rem 2rem;
    .flex {
      margin: auto;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        margin: 0 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .mobile-card {
    .flex {
      li {
        padding: 0.75rem 0;
      }
    }
  }
}
@media (max-height: 360px) {
  .plot-card {
    div {
      a {
        margin: 0;
      }
    }
  }
  .mobile-card {
    .flex {
      li {
        padding: 0.5rem 0;
      }
    }
  }
}
